<?xml version='1.0' encoding='utf-8'?>
<plugin id="Neux.cordova.PrivacyScreen" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>Neux.cordova.PrivacyScreen</name>
<platform name="ios">
	<config-file parent="/*" target="config.xml">
		<feature name="PrivacyScreen">
			<param name="ios-package" value="PrivacyScreen" />
			<param name="onload" value="true" />
		</feature>
	</config-file>
	<header-file src="src/ios/PrivacyScreen.h" />
	<source-file src="src/ios/PrivacyScreen.m" />
</platform>
</plugin>